<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    @Styles.Render("~/Content/css")
    
</head>
<body>
    <!--preloader start-->
    <div id="preloader">
        <div id="status"><img src="~/Content/Images/load.gif" id="preloader_image" alt="loader">
        </div>
    </div>
    <!--preloader end-->

    <!-- color picker starts -->
    <div id="style-switcher" class="hs_color_set">
      <div>
        <h3>
          color options
        </h3>
        <ul class="colors">
          <li>
            <p class='colorchange' id='color'>
            </p>
          </li>
          <li>
            <p class='colorchange' id='color2'>
            </p>
          </li>
          <li>
            <p class='colorchange' id='color3'>
            </p>
          </li>
          <li>
            <p class='colorchange' id='color4'>
            </p>
          </li>
          <li>
            <p class='colorchange' id='color5'>
            </p>
          </li>
          <li>
            <p class='colorchange' id='style'>
            </p>
          </li>
        </ul>
      </div>
      <div class="bottom">
        
        <a href="" class="settings">
          <i class="fa fa-gear fa-spin">
          </i>
        </a>
        
      </div>
    </div>
    <!-- color picker ends-->

    <header class="st_header">
      <!--st_header start-->
      <div class="st_header_top">
        <div class="container">
          <div class="st_topheader_wraper">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-8 col-xs-12">
                    <div class="st_topheader_data">
                        
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-4 col-xs-12">
                <div class="st_social_link">
                  <ul>
                    <li>
                      <a href="#">
                        <i class="fa fa-twitter">
                        </i>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="fa fa-facebook">
                        </i>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="fa fa-dribbble">
                        </i>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="fa fa-linkedin">
                        </i>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="fa fa-flickr">
                        </i>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="fa fa-pinterest-p">
                        </i>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="fa fa-google-plus">
                        </i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--st_header_top end-->
      
      <div class="st_menu_wraper">
        <!--st_menu_wraper Start-->
        
        <div class="container">
          <nav class="navbar navbar-default">
            
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">
                  Toggle navigation
                </span>
                <span class="st_toggle_menu">
                  <i class="fa fa-list-ul fa-2x">
                  </i>
                </span>
              </button>
              <a class="navbar-brand" href="index.html">
                <div class="st_logo">
                  <img src="~/Content/Images/thestormer-logo.png" alt="stormer">
                </div>
                <div class="st_white_logo">
                  <img src="~/Content/Images/logo_white.png" alt="stormer">
                </div>
              </a>
            </div>
            
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              
              <ul class="nav navbar-nav stomer_menu">
                <li class="">
                    @Html.ActionLink("home", "Index", "Home")
                </li>              
                <li class="">
                  <a href="blog.html">
                    blog
                  </a>
                </li>
                <li class="st_mega_menu">
                    @Html.ActionLink("lookbook", "Index", "Lookbook")
                </li>               
                <li class="">
                    @Html.ActionLink("contact", "Contact", "Home")
                </li>
              </ul>
            </div>
            <!-- /.navbar-collapse -->
            
            
          </nav>
        </div>
        <!-- /.container-->
      </div>
      
      <!--st_menu_wraper end-->
      <div class="st_bottom_header">
        <div class="container">
          <div class="row">
            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
              <div class="st_bottom_header_wraper">
                <ul>
                  <li>
                    <div class="st_notification_text">
                      <i class="fa fa-phone">
                      </i>
                      
                      <p>
                        do you have any question? call
                      </p>
                      
                      <span>
                        (978) 794 1966
                      </span>
                    </div>
                  </li>
                  <li>
                    <div class="st_notification_text">
                      <i class="fa fa-paper-plane-o">
                      </i>
                      encalada.jonathan@gmail.com
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
              <div class="st_search_wraper">
                <form>
                  <input type="text" class="st_search" placeholder="search">
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!--st_header end-->

    @RenderBody()

    <footer>
        <div class="st_footer">
            <!--st_footer-->
            <div class="container">
                <div class="st_footer_wraper">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="st_footer_content">
                                <div class="st_footer_title">
                                    <a href="#">
                                        <img src="~/Content/Images/footer_logo.png" alt="">
                                    </a>
                                </div>
                                <div class="st_footer_data">
                                    <p>
                                        Lorem ipsum dolor sit amet, consec tuer adipiscing elit, sed diam nonum nibh euismod.
                                        <strong>
                                            Lotuer adipiscing
                                        </strong>
                                        elit, sed diam nibh eu.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="st_footer_content">
                                <div class="st_footer_title">
                                    <h5>
                                        product tags
                                    </h5>
                                </div>
                                <div class="st_footer_tag">
                                    <ul>
                                        <li>
                                            <a href="tag.html">
                                                grey
                                            </a>
                                        </li>
                                        <li>
                                            <a href="tag.html">
                                                hipster
                                            </a>
                                        </li>
                                        <li>
                                            <a href="tag.html">
                                                hoddie
                                            </a>
                                        </li>
                                        <li>
                                            <a href="tag.html">
                                                man
                                            </a>
                                        </li>
                                        <li>
                                            <a href="tag.html">
                                                retro
                                            </a>
                                        </li>
                                        <li>
                                            <a href="tag.html">
                                                shirt
                                            </a>
                                        </li>
                                        <li>
                                            <a href="tag.html">
                                                stomer
                                            </a>
                                        </li>
                                        <li>
                                            <a href="tag.html">
                                                vintag
                                            </a>
                                        </li>
                                        <li>
                                            <a href="tag.html">
                                                white
                                            </a>
                                        </li>
                                        <li>
                                            <a href="tag.html">
                                                woman
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="st_footer_content">
                                <div class="st_footer_title">
                                    <h5>
                                        about us
                                    </h5>
                                </div>
                                <div class="st_footer_data">
                                    <p>
                                        Our goal is to be the real outfitters of modern american style. And through this, we’ll enable our customers to live their street wear style. We believe that street wear is more than styling. It reflects how you live, how you choose to navigate your life, and how you show up. The Berkeley Store brings a fresh twist on apparel to men and women around the world. The Methuen, MA company outfits a whole new generation of explorers in the clothes that walk the line between easy and refined.
                                    </p>
                                    <span>
                                        <i class="fa fa-phone">
                                        </i>
                                        (978) 794 1966
                                    </span>
                                    <span>
                                        <i class="fa fa-envelope">
                                        </i>
                                        info@stormy.com
                                    </span>
                                    <span>
                                        <i class="fa fa-home">
                                        </i>
                                        www.stormy.com
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="st_footer_content">
                                <div class="st_footer_title">
                                    <h5>
                                        featured product
                                    </h5>
                                </div>
                                <div class="st_footer_data">
                                    <ul>
                                        <li>
                                            <a href="product_single.html">
                                                <img src="http://placehold.it/110x90" class="img-responsive" alt="">
                                            </a>
                                            <div class="st_footer_product">
                                                <h6>
                                                    <a href="product_single.html">
                                                        Vinty Stormer Shirt
                                                    </a>
                                                </h6>
                                                <span>
                                                    £90.00
                                                </span>
                                            </div>
                                        </li>
                                        <li>
                                            <a href="product_single.html">
                                                <img src="http://placehold.it/110x90" class="img-responsive" alt="">
                                            </a>
                                            <div class="st_footer_product">
                                                <h6>
                                                    <a href="product_single.html">
                                                        Stormer Vintage Shirt
                                                    </a>
                                                </h6>
                                                <span>
                                                    £39.90 - £49.90
                                                </span>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--st_footer-->
        <div class="st_bottom_footer">
            <div class="container">
                <div class="st_bottomfooter_wraper">
                    <div class="st_bottom_log">
                        <h5>
                            <span>
                                visit
                            </span>
                            <i class="fa fa-circle">
                            </i>
                            <span>
                                THE STORMER
                            </span>
                        </h5>
                    </div>
                    <div class="st_btmfooter_copyright">
                        <p>
                            <span>
                                The
                            </span>
                            <i class="fa fa-circle">
                            </i>
                            <span>
                                Stormer@2015 powered by:
                                <a href="http://himanshusofttech.com/">
                                    Himanshusofttech
                                </a>
                            </span>
                        </p>
                    </div>
                    <div class="st_btm_transaction">
                        <ul>
                            <li>
                                <a href="#">
                                    <img src="~/Content/Images/American-Express.png" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="~/Content/Images/PayPal.png" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="~/Content/Images/Maestro.png" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="~/Content/Images/Visa.png" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="~/Content/Images/Visa-Electron.png" alt="">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--footer-->

    <div class="st_totop">
        <div class="st_gototop">
            <a href="#">
                <div class="st_arrowgototop">
                </div>
            </a>
        </div>
    </div>

    @Scripts.Render("~/bundles/stormer")

</body>
</html>
