@model WebApplication1.Models.Lookbook

@{
    ViewBag.Title = "Lookbook";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="st_bread">
    <div class="container">
        <div class="st_page_title">
            <h4>
                @Model.Title
            </h4>
        </div>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">
                    Home
                    <i class="fa fa-angle-double-right">
                    </i>
                </a>
            </li>
            <li class="active">
                Single Portfolio
            </li>
        </ol>
    </div>
</div>
<div class="st_inner_page_container">
    <div class="container">
        <div class="row">
            <div class="st_port_data">
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                    <div id="carousel-example-generic" class="carousel slide st_singleportfolio_slider" data-ride="carousel">
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" role="listbox">
                            <div class="item active">
                                <img src="@Url.Content(Model.GetImageSource(Model.MainImage))" style=" width : 700px; height : 600px" class="img-responsive" alt="#">
                            </div>

                            @foreach (var image in Model.Images.Where(p => !p.Equals(Model.MainImage)))
                            {
                                <div class="item">
                                    <img src="@Url.Content(Model.GetImageSource(image))" style=" width : 700px; height : 600px" class="img-responsive" alt="...">
                                </div>
                            }
                        </div>
                        <!-- Controls -->
                        <div class="st_port_slider_controls">
                            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true">
                                </span>
                                <span class="sr-only">
                                    Previous
                                </span>
                            </a>
                            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true">
                                </span>
                                <span class="sr-only">
                                    Next
                                </span>
                            </a>
                        </div>
                    </div>
                    <div class="clearfix">
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="st_port_project">
                        <div class="st_project_section st_fontweight_700">
                            <i class="fa fa-user">
                            </i>
                            Client
                            <span class="st_author">
                                Envato inc. and Themeforest
                            </span>
                            <br>
                        </div>
                        <div class="st_project_section st_fontweight_700">
                            <i class="fa fa-calendar">
                            </i>
                            Date of completion
                            <span class="st_author">
                                @Model.CreatedDate
                            </span>
                            <br>
                        </div>
                        <div class="st_project_section st_fontweight_700">
                            <i class="fa fa-user">
                            </i>
                            Project designer
                            <span class="st_author">
                                Premiumcoding &amp; Friends
                            </span>
                            <br>
                        </div>
                        <div class="st_port_skill">
                            <ul>
                                <li>
                                    <i class="fa fa-check-square">
                                    </i>
                                    HTML / CSS
                                </li>
                                <li>
                                    <i class="fa fa-check-square">
                                    </i>
                                    Planning
                                </li>
                                <li>
                                    <i class="fa fa-check-square">
                                    </i>
                                    Arhitecture
                                </li>
                                <li>
                                    <i class="fa fa-check-square">
                                    </i>
                                    PHP Javascript
                                </li>
                            </ul>
                        </div>
                        <a class="btn btn-primary st_opacity" href="#" role="button">
                            VIEW THE PROJECT
                        </a>
                        <div class="st_port_social_icon">
                            <ul>
                                <li class="st_facebook">
                                    <a href="" title="Facebook">
                                        <i class="fa fa-facebook">
                                        </i>
                                    </a>
                                </li>
                                <li class="st_twitter">
                                    <a href="" title="Twitter">

                                        <i class="fa fa-twitter">
                                        </i>
                                    </a>
                                </li>
                                <li class="st_pintrest">
                                    <a href="" title="Pinterest">
                                        <i class="fa fa-pinterest">
                                        </i>
                                    </a>
                                </li>
                                <li class="st_mail">
                                    <a href="" title="Mail">
                                        <i class="fa fa-envelope">
                                        </i>
                                    </a>
                                </li>
                                <li class="st_plus">
                                    <a href="" title="Plus">
                                        <i class="fa fa-plus">
                                        </i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="st_port_content padder_bottom_50">
            <p>
                @Model.Description
            </p>
            <nav>
                <ul class="pager st_toppadder20 st_bottompadder_20">
                    <li class="previous">
                        <a href="#">
                            <span aria-hidden="true">
                            </span>
                            Previous Project
                        </a>
                    </li>
                    <li>
                        <span>
                            <a href="portfolio.html">
                                <i class="fa fa-th">
                                </i>
                            </a>
                        </span>
                    </li>
                    <li class="next">
                        <a href="#">
                            Next Project
                            <span aria-hidden="true">
                            </span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>hello th

